<h2>Add an Event</h2>

<form action="/events" method="post">

  <label for="name">Event:</label>
  <input type="text" name="name"><br>


  <input type='submit' value="Add an Event">
</form>

<br>
<br>
<a href="/">Back</a>