body { 
  background-image: url('https://lovelace-media.imgix.net/getty/589317114.jpg?w=1200&h=1200&fit=max&auto=format&q=70');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 1400px;
  background-blend-mode: lighten;
}

div {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font: bold;
  color: white;

}



table, a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: white;

}




a:hover {
  background-color: green;

}

h1 {
  font-family: 'Lato', sans-serif;
  font: bold;
  color: white;
  text-shadow: 2px 2px 1px #000,
  -2px -2px 1px #000,
  -2px 2px 1px #000,
  2px -2px 1px #000;

}


label, h3 {
  font-family: 'Lato', sans-serif;
  font: bold;
  color: white;
  text-shadow: 2px 2px 1px #000,
  -2px -2px 1px #000,
  -2px 2px 1px #000,
  2px -2px 1px #000;

}

h2 {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 1px #000,
  -2px -2px 1px #000,
  -2px 2px 1px #000,
  2px -2px 1px #000;
}

/*
body
    {
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }

    .header img {
      float: left;
      width: 200px;
      height: 100px;
      background: #555;
    }

    .header h1 {
      position: relative;
      top: 18px;
      left: 10px;
    }

    input[type=text] {
        padding:5px; 
        border:2px solid #ccc; 
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    input[type=text]:focus {
        border-color:#333;
    }

    input[type=submit] {
        padding:5px 15px; 
        background:#ccc; 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }

    div {
        height: 200px;
        width: 400px;
        

        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
        text-align:center;
    }

    select { border: 3px solid #CCC }
    */
    body {
      background-color: none;
      margin:200px 200px 200px 200px;
      
    }
    div#fixedheader {
      position:fixed;
      top:0px;
      left:0px;
      width:200%;
      color:#000000;
      background: #3375D6;
      padding:40px;
      font-family: 'Lato', sans-serif;
      text-decoration: none;
      font: bold;
      color: white;
    }
    
   /* .container {
        background: rgb(170, 187, 97); 
        background: rgba(170, 187, 97, 0.5);
  
        width: 400px;
        height: 400px;
        }*/

        div#fixedfooter {
          position:fixed;
          bottom:0px;
          left:0px;
          width:200%;
          color:#000000;
          background: #52CC00;
          padding:20px;
        }


        .table-fill {
          background: white;
          border-radius:3px;
          border-collapse: collapse;
          height: 320px;
          margin: auto;
          max-width: 600px;
          padding:5px;
          width: 100%;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          animation: float 5s infinite;
        }
         
        th {
          color:#D5DDE5;;
          background:#FA8202;
          border-bottom:4px solid #FA8202;
          border-right: 1px solid #343a45;
          font-size:18px;
          font-weight: 100;
          padding:10px;
          text-align:left;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          vertical-align:middle;
        }

        th:first-child {
          border-top-left-radius:3px;
        }
         
        th:last-child {
          border-top-right-radius:3px;
          border-right:none;
        }
          
        tr {
          border-top: 1px solid #C1C3D1;
          border-bottom-: 1px solid #C1C3D1;
          color:#666B85;
          font-size:16px;
          font-weight:normal;
          text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        }
         
        tr:hover td {
          background:#4E5066;
          color:#FFFFFF;
          border-top: 1px solid #22262e;
          border-bottom: 1px solid #22262e;
        }
         
        tr:first-child {
          border-top:none;
        }

        tr:last-child {
          border-bottom:none;
        }
         
        tr:nth-child(odd) td {
          background:#EBEBEB;
        }
         
        tr:nth-child(odd):hover td {
          background:#4E5066;
        }

        tr:last-child td:first-child {
          border-bottom-left-radius:3px;
        }
         
        tr:last-child td:last-child {
          border-bottom-right-radius:3px;
        }
         
        td {
          background:#FFFFFF;
          padding:8px;
          text-align:left;
          vertical-align:middle;
          font-weight:300;
          font-size:12px;
          text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
          border-right: 1px solid #C1C3D1;
        }

        td:last-child {
          border-right: 0px;
        }

        th.text-left {
          text-align: left;
        }

        th.text-center {
          text-align: center;
        }

        th.text-right {
          text-align: right;
        }

        td.text-left {
          text-align: left;
        }

        td.text-center {
          text-align: center;
        }

        td.text-right {
          text-align: right;
        }

        

