<h2>Add a Nation</h2>

<form action="/nations" method="post">

  <label for="name">Nation:</label>
  <input type="text" name="name"><br>


  <input type='submit' value="Add a Nation">
</form>

<br>
<br>
<a href="/">Back</a>