<div>
<% @athletes.each do |athlete| %>
  <p></p><a href="/athletes/<%= athlete.id  %>"><%= athlete.pretty_name %></a> 
<p></p>
  Nation: <%= athlete.nation.name %> 
<p></p>
  Events: 
  <% athlete.events.each do | event | %>
    <%= event.name  %>
  <% end %> 
<p></p>
  <br><hr>
<% end %>

<a href="/athletes/new">Add new athlete</a><br>
</div> 
