<div>
<h1><%= @athlete.pretty_name %></h1>
<p></p>
<h2>Nation: <%= @athlete.nation.name %></h2>
<p></p>
<h2>Event: <%= @athlete.events.first.name %></h2>
</div>

<!-- do same as athlete.index with loop -->